/* Organizers.md */
.organizer-image {
    width: 200px;
    height: 200px;
    margin: 10px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.blockquote > p {
    padding-top: 60px
}
