/* Organizers.md */
.organizer-image {
    width: 200px;
    height: 200px;
    margin: 10px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.blockquote > p {
    padding-top: 60px
}

/* Schedule table */
#schedule-table table {
    border-color: grey;
    width: 80%;
    margin: 0 auto;
}
#schedule-table tbody {
    border-top: 2px solid #557398;
    border-bottom: 2px solid #557398;
    background-color: #EBEFF4;
}
